<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>WAFF SuperWeather</title>
  <meta name="description"
    content="Get a comprehensive 7-day weather forecast with WAFF SuperWeather. Plan your week ahead with accurate weather information including temperature, precipitation, wind speed, and more. Stay informed and make the most of every day with our reliable forecast service.">
  <meta name="keywords"
    content="local weather, weather app, current weather, forecast, temperature, precipitation, wind speed, humidity, weather conditions, weather updates">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/global.css">
</head>

<body>
  <div class="container">
    <!-- <div class="search">
      <form action="/search" method="POST">
        <input type="text" name="zip" pattern="\d*" placeholder="Enter city zip-code" required>
        <button type="submit">Search</button>
      </form>
    </div> -->
    <div class="weather-content">

      <div class="todays-weather">
        <img src="icons/filled/svg/<%= weather_data.current.weather_icon %>.svg"
          alt="<%= weather_data.current.weather_state %>">
        <h3>
          <%= location %>
        </h3>
        <h2>
          <%= weather_data.current.temp %>°F
        </h2>
        <p class="weather-description">
          <%= weather_data.current.weather_description %>
        </p>
        <div class="todays-weather__hi-lo">
          <p>H: <%= weather_data.daily[0].max %>°F</p>
          <p>L: <%= weather_data.daily[0].min %>°F</p>
        </div>
      </div>

      <%# TODO: Reverse test, add weather_data.alert to paragraph %>
        <% if(weather_data.alert) { %>
          <div class="weather-alert">
            <div class="component-head">
              <h3><span><img src="icons/mono/svg-static/code-yellow.svg" class="svg-icon-mono"></span>Weather Alert</h3>
            </div>
            <p><%= weather_data.alert %></p>
          </div>
          <% } %>

            <div class="details-grid">
              <div class="details-grid__seven-day-forecast">
                <div class="component-head">
                  <h3>7-Day Forecast</h3>
                </div>
                <% for (let i=1; i < 8; i++) { %>
                  <div class="seven-day-forecast__day">
                    <p class="day-of-the-week">
                      <%= weather_data.daily[i].date %>
                    </p>
                    <img src="icons/filled/svg/<%= weather_data.daily[i].weather_icon %>.svg"
                      alt="<%= weather_data.daily[i].weather_state %>">
                    <p class="seven-day-forecast__day__low">L: <%= weather_data.daily[i].min %>°F
                    </p>
                    <p class="seven-day-forecast__day__high">H: <%= weather_data.daily[i].max %>°F
                    </p>
                    <p class="seven-day-forecast__pop">Chance of rain: <%= weather_data.daily[i].chance_of_rain %>
                    </p>
                  </div>
                  <% } %>
              </div>
              <div class="uv-index-and-others">
                <div class="uv-index">
                  <div class="component-head">
                    <h3>UV Index</h3>
                  </div>
                  <img src="icons/filled/svg/<%= weather_data.current.uv_icon %>.svg" alt="">
                  <p>Recommendation</p>
                  <p>
                    <%= weather_data.current.uv_description %>
                  </p>
                </div>
                <div class="others__one-by-one">
                  <div class="component-head">
                    <h3>Wind Speed</h3>
                  </div>
                  <div class="wind-speed">
                    <p>
                      <%= weather_data.current.wind_speed %>mph
                    </p>
                    <img src="icons/filled/svg/wind.svg" alt="">
                    <p>
                      <%= weather_data.current.wind_direction %>
                    </p>
                  </div>
                </div>
                <div class="others__one-by-one">
                  <div class="component-head">

                    <h3>Feels Like</h3>
                  </div>
                  <div class="feels-humid">
                    <h4>
                      <%= weather_data.current.feels_like %>°F
                    </h4>
                    <img src="icons/filled/svg/thermometer.svg" alt="">
                  </div>
                </div>
                <div class="others__one-by-one">
                  <div class="component-head">
                    <h3>Humidity</h3>
                  </div>
                  <div class="feels-humid">
                    <h4>
                      <%= weather_data.current.humidity %>%
                    </h4>
                    <img src="icons/filled/svg/humidity.svg" alt="">
                  </div>

                </div>
                <div class="others__one-by-one">
                  <div class="component-head">
                    <h3>Precipitation</h3>
                  </div>
                  <div class="feels-humid">
                      <% if(!weather_data.current.snow) { %>

                        <div>
                          <p>1hr: <%= weather_data.current.rain %>mm</p>
                          <p>24hr: <%= weather_data.daily[1].total_rain %>mm</p>
                        </div>
                        <img src="icons/filled/svg/rain.svg" alt="">
                      <% } else { %>
                        <h4>Snow</h4>
                        <div>
                          <p>Last hour: <%= weather_data.current.snow %>mm</p>
                          <p>Today: <%= weather_data.daily[1].total_snow %>mm</p>
                        </div>
                        <img src="icons/filled/svg/snow.svg" alt="">
                        <% } %>
                      </div>
                </div>
              </div>
            </div>
</body>

</html>